
nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
}
a {
    padding: 25px;
    font-size: 1.5em;
    color: white;
    margin : 40px
}
h1 {
    margin: 50px 0;
    text-align: center;
    color: steelblue;
}
img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
footer {
    text-align: center;
    background-color: steelblue;
    color: white;
}
#active {
    background-color: white;
    color: steelblue;
}
footer p {
    padding: 25px;
    font-size: 20px;
    margin: 20px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
nav{
    padding: 25px;
}
body{
    margin: 0;
}